/* Light Theme */
.light-theme {
    --background-image: url("bg-white1.jpg");
    --cadet-blue-crayola: hsl(240, 10%, 70%);
    --gold-web-golden: hsl(50, 100%, 54%);
    --vivid-sky-blue: hsl(196, 84%, 63%);
    --midnight-blue: hsl(233, 39%, 78%);
    --minion-yellow: hsl(50, 100%, 64%);
    --independence: hsl(225, 24%, 27%);
    --orange-soda: hsl(7, 96%, 61%);
    --space-cadet: hsl(243, 23%, 18%);
    --fiery-rose: hsl(353, 83%, 65%);
    --klein-blue: hsl(230, 80%, 39%);
    --bluetiful: hsl(222, 88%, 55%);
    --glaucous: hsl(230, 52%, 63%);
    --manatee: hsl(254, 7%, 65%);
    --rufous: hsl(2, 85%, 35%);
    --black: hsl(0, 0%, 0%);
    --lightblack:#0a0822;
    --background-color: #f0f0f0;
    --white: #000;
    --black: #fff;
    --navbar-bg-color: #2c3e50;
    --footer-bg-color: #ddd;
  }
  
  /* DarkOceanic Theme */
  .dark-oceanic-theme {
    --background-image: url("bg6.jpg");
    --cadet-blue-crayola: hsl(240, 10%, 70%);
    --gold-web-golden: hsl(50, 100%, 54%);
    --vivid-sky-blue: hsl(196, 84%, 63%);
    --minion-yellow: hsl(50, 100%, 64%);
    --independence: hsl(225, 24%, 27%);
    --orange-soda: hsl(7, 96%, 61%);
    --space-cadet: hsl(243, 23%, 18%);
    --fiery-rose: hsl(353, 83%, 65%);
    --klein-blue: hsl(230, 80%, 39%);
    --bluetiful: hsl(222, 88%, 55%);
    --glaucous: hsl(230, 52%, 63%);
    --manatee: hsl(254, 7%, 65%);
    --rufous: hsl(2, 85%, 35%);
    --black: hsl(0, 0%, 0%);
    --lightblack:#0a0822;
    --independence: hsl(225, 24%, 27%);
    --background-color: #0c1825;
    --white: hsl(0, 0%, 100%);
    --black: #000;
    --navbar-bg-color: #2c3e50;
    --footer-bg-color: #34495e;
    --midnight-blue: hsl(231deg 79.84% 8.76%);
  }
  
  /* General styling using CSS variables */
  body, .App {
    background-color: var(--background-color);
    color: var(--white);
  }

  
  .footer {
    background-color: var(--footer-bg-color);
  }
  